@layer base, type, lichaam, komkommer, hoofd, menu;

@import url('typografie.css');
@import url('menu.css');
@import url('komkommer.css');



@layer base {
    :root {
        --bgcolor: radial-gradient(circle, rgba(53, 44, 116, 1) 0%, rgba(73, 61, 158, 1) 100%);
        --mondclip: ellipse(26% 30% at 50% 50%);
        --skincolor: #FFF0DC;
        --eyecolor: #578FCA;
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(129, 190, 255, 1) 20%, rgba(129, 172, 255, 1) 49%, rgba(255, 255, 255, 1) 49%);
        --wrinklecolor: rgba(0, 0, 0, 0.1);
        --eyebrowcolor: #fffece;
        --skingradient: radial-gradient(circle, rgba(255, 240, 220, 1) 0%, rgba(255, 184, 167, 1));
    
        --eargradient: radial-gradient(circle, rgba(255, 240, 220, 1), rgb(255, 184, 167) 100%);
        --shadowcolor: #ac967a;
    
        --mouthgradient: radial-gradient(circle, rgba(255, 138, 138, 1) 50%, rgba(255, 240, 220, 1) 100%);
        --cucumbergradient: linear-gradient(90deg, rgba(55, 88, 34, 1) 0%, rgba(38, 68, 18, 1) 10%, rgba(38, 68, 18, 1) 11%, rgba(55, 88, 34, 1) 20%, rgba(38, 68, 18, 1) 21%, rgba(55, 88, 34, 1) 40%, rgba(38, 68, 18, 1) 41%, rgba(55, 88, 34, 1) 60%, rgba(38, 68, 18, 1) 61%, rgba(55, 88, 34, 1) 80%, rgba(38, 68, 18, 1) 81%, rgba(38, 68, 18, 1) 91%, rgba(55, 88, 34, 1) 100%);
    
        --kaalclip: ellipse();
        --haar1clip: ellipse(00% 00% at 50% 20%);
        --haar2clip: polygon(50% 0%, 87% 5%, 100% 60%, 66% 25%, 33% 25%, 0% 60%, 13% 5%);
        --haar3clip: polygon(50% 0%, 80% 0%, 100% 60%, 75% 15%, 25% 15%, 0% 60%, 20% 0%);
        --haar4clip: polygon(75% 0%, 90% 20%, 100% 60%, 75% 25%, 25% 25%, 0% 60%, 00% 0%);
    
        --cucumbereatclip1: polygon(0 0, 50% 0, 100% 0, 100% 10%, 100% 100%, 0 100%, 0 15%);
        --cucumbereatclip2: polygon(46% 11%, 75% 3%, 100% 0, 100% 12%, 100% 100%, 0 100%, 0 13%);
        --cucumbereatclip3: polygon(18% 17%, 47% 20%, 78% 20%, 100% 12%, 100% 100%, 0 100%, 0 13%);
    
        --cucumberretractclip1: polygon(18% 17%, 47% 20%, 78% 20%, 100% 12%, 100% 100%, 0 100%, 0 13%);
    
    
        --wit: #fff;
        --lichtgeel: #fffece;
        --groen: #90db3f;
        --lichtbruin: #74432c;
    
        --bruin: #532915;
    
    }

    html {
        padding: 0;
        margin: 0;
    }
    
    /* ///////////////// */
    /* achtegrond 🖼 */
    /* ///////////////// */
    body {
        background: var(--bgcolor);
        width: 100dvw;
        height: 100dvh;
        padding: 0;
        margin: 0;
        overflow: hidden;
    
        font-family: Atma, sans-serif;
    }
    
    
    
    /* ///////////////// */
    /* Container geheel */
    /* ///////////////// */
    main {
        height: 100vh;
        display: flex;
        align-items: center;
    
        justify-self: center;
    }
}


@layer hoofd {
/* ///////////////// */
/* section 1 hoofd 👨 */
/* ///////////////// */

section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    padding-top: 8em;
    margin: 0 auto;
    position: relative;

    /* ///////////////// */
    /* HOOFD 1 ei vorm 🥚 */
    /* ///////////////// */

    header:nth-of-type(1) {
        position: absolute;
        bottom: -6em;
        display: flex;
        margin: auto;
        width: 20rem;
        height: 28rem;

        border-radius: 70% / 90% 90% 50% 50%;
        background: var(--skingradient);

        justify-content: center;

        z-index: 2;

        opacity: 1;

        /* ///////////////// */
        /* komkommer 🥒*/
        /* ///////////////// */

        label:nth-child(2) {
            z-index: 3;

            cursor: pointer;
            position: absolute;
            left: 120%;
            bottom: -70%;
            rotate: 20deg;

            width: 4em;
            height: 16em;
            border-radius: 2em;
            background: var(--cucumbergradient);


            input {
                visibility: hidden;
            }
        }


        /* ///////////////// */
        /* container voor neus👃, oren 👂 en ogen 👀*/
        /* ///////////////// */

        ul {
            padding: 0;
            list-style: none;
            margin: 10em auto;
            width: 50%;
            display: flex;
            justify-content: space-between;
            height: 3em;

            /* ///////////////// */
            /* neus 👃*/
            /* ///////////////// */

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 47%;
                left: 40%;
                margin: auto;
                width: 3em;
                height: 6em;
                background-color: inherit;
                box-shadow: var(--shadowcolor) -10px 6px;
                border-radius: 89% 11% 18% 82% / 85% 53% 47% 15%;
            }
        }

        /* ///////////////// */
        /* haar 💈 */
        /* ///////////////// */

        & ul::before {
            content: "";
            position: absolute;
            display: block;
            margin: auto;
            left: 50%;
            transform: translateX(-50%);
            top: -2%;
            width: 90%;
            /* opacity: 0; */
            height: 60%;
            background-color: var(--eyebrowcolor);

            clip-path: var(--haar1clip);
        }

        /* ///////////////// */
        /* ogen 👀*/
        /* ///////////////// */

        & li {
            width: 4em;
            height: 3em;
            background: var(--eyegradient);
            border-radius: 2em;
            padding: 0;
            flex-direction: column;

            z-index: 1;

            box-shadow: 0px .3em .1em var(--shadowcolor);

        }


        /* ///////////////// */
        /* wenkbrauw links <-- 😡*/
        /* ///////////////// */

        & li::before {
            content: '';
            position: absolute;
            text-align: center;
            width: 4em;
            height: 8px;
            margin-top: -1em;
            border-radius: 1em;
            rotate: 10deg;

            background-color: var(--eyebrowcolor);

        }

        /* ///////////////// */
        /* wenkbrauw rechts --> 😡*/
        /* ///////////////// */

        & li:nth-child(2)::before {
            rotate: -10deg;
        }

        /* ///////////////// */
        /* linker oor <--👂*/
        /* ///////////////// */

        & li:nth-of-type(1)::after {
            content: "";
            position: absolute;
            background: var(--eargradient);
            width: 4em;
            height: 8em;
            right: 95%;
            rotate: 5deg;

            clip-path: var(--kaalclip);
            z-index: 0;

        }

        /* ///////////////// */
        /* rechter oor -->👂*/
        /* ///////////////// */

        & li:nth-of-type(2)::after {
            content: "";
            position: absolute;
            background: var(--eargradient);
            width: 4em;
            height: 8em;
            left: 95%;
            rotate: -5deg;

            clip-path: var(--kaalclip);
            z-index: 0;
        }

    }

}

/* ///////////////// */
/* rimpel 👨‍🦳 ----- */
/* ///////////////// */

header:nth-of-type(1)::before {
    content: '';
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 6em auto;
    position: absolute;
    background-color: var(--wrinklecolor);
    width: 50%;
    height: 4px;
}

/* ///////////////// */
/* mond 👄*/
/* ///////////////// */

header:nth-of-type(1)::after {
    content: "";
    position: absolute;
    bottom: 10%;

    background: var(--mouthgradient);
    width: 10em;
    height: 4em;

    clip-path: var(--mondclip);
}

}

@layer lichaam {
/* ///////////////// */
/* lichaam 🧍‍♂️ */
/* ///////////////// */

section:nth-of-type(2) {
    bottom: 0;
    position: absolute;
    width: 20em;
    height: 20em;
    background-color: black;

    border-radius: 4em;
    /* top: 66%; */
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;

    /* ///////////////// */
    /* Pepsi max 🍾 */
    /* https://www.kff.co.uk/pepsi-max-bottle/p/227 */
    /* ///////////////// */

    & img:nth-child(1) {
        position: absolute;
        right: 85%;
        width: 100%;
        top: 0;
        z-index: 2;
        rotate: -20deg;
    }

    /* ///////////////// */
    /* the north face logo op jas 🧥*/
    /* https://en.wikipedia.org/wiki/The_North_Face#/media/File:The_North_Face.png */
    /* ///////////////// */

    & img:nth-child(2) {
        position: absolute;
        right: 10%;
        width: 30%;
        top: 15%;
        z-index: 2;
        filter: invert(1);
    }
}

/* ///////////////// */
/* linker arm <-- 💪*/
/* ///////////////// */

section:nth-of-type(2)::before {
    content: "";
    position: absolute;

    width: 6em;
    height: 20em;
    top: 0%;
    left: 90%;
    background-color: black;
    border-radius: 4em;

    transform-origin: top;
    rotate: -10deg;
}

/* ///////////////// */
/* rechter arm --> 💪*/
/* ///////////////// */

section:nth-of-type(2)::after {
    content: "";
    position: absolute;

    width: 6em;
    height: 20em;
    top: 0%;
    right: 90%;
    background-color: black;
    border-radius: 4em;

    transform-origin: top;
    rotate: 10deg;
    }
}





/* ///////////////// */
/* Selectors ✔  */
/* ///////////////// */

main {

    /* ///////////////// */
    /* Huidskleur 🧔👨🏻👨🏽  */
    /* ///////////////// */
    &:has(input[value="skincolor1"]:checked) header {
        --skingradient: radial-gradient(circle, rgba(255, 240, 220, 1) 0%, rgba(255, 184, 167, 1));
        --eargradient: radial-gradient(circle, rgba(255, 240, 220, 1), rgb(255, 184, 167) 100%);
    }

    &:has(input[value="skincolor2"]:checked) header {
        --skingradient: radial-gradient(circle, rgb(241, 220, 193) 0%, rgb(238, 201, 153));
        --eargradient: radial-gradient(circle, rgb(241, 220, 193) 0%, rgb(238, 201, 153));

    }

    &:has(input[value="skincolor3"]:checked) header {
        --skingradient: radial-gradient(circle, rgb(166, 123, 91) 0%, rgb(111, 78, 55));
        --eargradient: radial-gradient(circle, rgb(166, 123, 91) 0%, rgb(111, 78, 55));
    }

    /* hovers */

    &:has(nav > div:first-of-type > label:first-of-type:hover) header {
        --skingradient: radial-gradient(circle, rgba(255, 240, 220, 1) 0%, rgba(255, 184, 167, 1));
        --eargradient: radial-gradient(circle, rgba(255, 240, 220, 1), rgb(255, 184, 167) 100%);
    }

    &:has(nav > div:first-of-type > label:nth-of-type(2):hover) header {
        --skingradient: radial-gradient(circle, rgb(241, 220, 193) 0%, rgb(238, 201, 153));
        --eargradient: radial-gradient(circle, rgb(241, 220, 193) 0%, rgb(238, 201, 153));

    }

    &:has(nav > div:first-of-type > label:nth-of-type(3):hover) header {
        --skingradient: radial-gradient(circle, rgb(166, 123, 91) 0%, rgb(111, 78, 55));
        --eargradient: radial-gradient(circle, rgb(166, 123, 91) 0%, rgb(111, 78, 55));
    }



    /* ///////////////// */
    /* Hoofdvorm 🥚🧔🏼  */
    /* ///////////////// */
    &:has(input[value="head1"]:checked) header {
        border-radius: 70% / 90% 90% 50% 50%;
    }

    &:has(input[value="head2"]:checked) header {
        border-radius: 80% / 120% 120% 75% 75%;
    }

    &:has(input[value="head3"]:checked) header {
        border-radius: 75% / 50% 50% 100% 100%;

        /* bij hoofdvorm 3 de haar breder maken zodat het past op het hoofd */
        & ul::before {
            width: 105%;
        }
    }


    /* hovers */
    &:has(nav > div:nth-of-type(2) > label:nth-of-type(1):hover) header {
        border-radius: 70% / 90% 90% 50% 50%;

    }

    &:has(nav > div:nth-of-type(2) > label:nth-of-type(2):hover) header {
        border-radius: 80% / 120% 120% 75% 75%;

    }

    &:has(nav > div:nth-of-type(2) > label:nth-of-type(3):hover) header {
        border-radius: 75% / 50% 50% 100% 100%;

        /* bij hoofdvorm 3 de haar breder maken zodat het past op het hoofd */
        & ul::before {
            width: 105%;
        }
    }

    /* ///////////////// */
    /* Ogen 👀 */
    /* ///////////////// */


    &:has(input[value="oog1"]:checked) header ul li {
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(129, 190, 255, 1) 20%, rgba(129, 172, 255, 1) 49%, rgba(255, 255, 255, 1) 49%);

    }

    &:has(input[value="oog2"]:checked) header ul li {
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgb(131, 233, 72) 20%, rgb(65, 197, 116) 49%, rgba(255, 255, 255, 1) 49%);
    }

    &:has(input[value="oog3"]:checked) header ul li {
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgb(100, 56, 30) 20%, rgb(90, 45, 44) 49%, rgba(255, 255, 255, 1) 49%);

    }

    /* hovers */

    &:has(nav > div:nth-last-of-type(3) > label:nth-of-type(1):hover) header ul li {
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(129, 190, 255, 1) 20%, rgba(129, 172, 255, 1) 49%, rgba(255, 255, 255, 1) 49%);
    }

    &:has(nav > div:nth-last-of-type(3) > label:nth-of-type(2):hover) header ul li {
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgb(131, 233, 72) 20%, rgb(65, 197, 116) 49%, rgba(255, 255, 255, 1) 49%);
    }

    &:has(nav > div:nth-last-of-type(3) > label:nth-of-type(3):hover) header ul li {
        --eyegradient: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgb(100, 56, 30) 20%, rgb(90, 45, 44) 49%, rgba(255, 255, 255, 1) 49%);
    }

    /* ///////////////// */
    /* Haarstyles 👱🏽‍♂️ */
    /* ///////////////// */

    &:has(input[value="haar1"]:checked) ul::before {
        clip-path: var(--haar1clip);
    }

    &:has(input[value="haar2"]:checked) ul::before {

        clip-path: var(--haar2clip);
    }

    &:has(input[value="haar3"]:checked) ul::before {

        clip-path: var(--haar3clip);

    }

    &:has(input[value="haar4"]:checked) ul::before {
        clip-path: var(--haar4clip)
    }

    /* hovers */

    &:has(nav > div:nth-of-type(4) > label:nth-of-type(1):hover) ul::before {
        clip-path: var(--haar1clip);
    }

    &:has(nav > div:nth-of-type(4) > label:nth-of-type(2):hover) ul::before {
        clip-path: var(--haar2clip);
    }

    &:has(nav > div:nth-of-type(4) > label:nth-of-type(3):hover) ul::before {
        clip-path: var(--haar3clip);

    }

    &:has(nav > div:nth-of-type(4) > label:nth-of-type(4):hover) ul::before {
        clip-path: var(--haar4clip);
    }


    /* ///////////////// */
    /* Haarkleur 👱🏽‍♂️💛🤎🖤 */
    /* ///////////////// */

    &:has(input[value="haarkleur1"]:checked) {
        --eyebrowcolor: #fffece;
    }

    &:has(input[value="haarkleur2"]:checked) {
        --eyebrowcolor: #a47148;
    }

    &:has(input[value="haarkleur3"]:checked) {
        --eyebrowcolor: #583101;
    }

    /* hovers */
    &:has(nav > div:nth-of-type(5) > label:nth-of-type(1):hover) {
        --eyebrowcolor: #fffece;
    }

    &:has(nav > div:nth-of-type(5) > label:nth-of-type(2):hover) {
        --eyebrowcolor: #a47148;
    }

    &:has(nav > div:nth-of-type(5) > label:nth-of-type(3):hover) {
        --eyebrowcolor: #583101;
    }

}







@media (max-width: 1024px) {
    section:nth-of-type(1) {
        z-index: 2;
        transform: scale(0.8);
        top: 12%;
    }

    section:nth-of-type(2) {
        margin: auto;
        transform: scale(0.8) translateX(-63%);
        top: unset;
        bottom: -4%;
    }
}

@media (max-width: 500px) {
    section:nth-of-type(1) {
        position: relative;
        transform-origin: bottom;
        z-index: 2;
        transform: scale(0.7);
        top: 14%;
    }

    section:nth-of-type(2) {
        bottom: -5%;
        transform: scale(0.7) translateX(-72%);
        left: 50%;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        --bgcolor: radial-gradient(circle, rgba(44, 116, 114, 1) 0%, rgba(58, 211, 221, 1) 100%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: radial-gradient(circle, rgba(53, 44, 116, 1) 0%, rgba(73, 61, 158, 1) 100%);
    }
}