/* ///////////////// */
/* typografie 🅰🅱*/
/* ///////////////// */
@layer type {
/* https://fonts.google.com/specimen/Atma?categoryFilters=Feeling:%2FExpressive%2FPlayful */
@font-face {
    font-family: Atma;
    src: url(assets/Atma-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Atma;
    src: url(assets/Atma-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Atma;
    src: url(assets/Atma-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Atma;
    src: url(assets/Atma-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Atma;
    src: url(assets/Atma-Light.ttf);
    font-weight: 300;
}

@keyframes title-hover {
    0% {
        transition: .5s ease;
        font-family: "cheee-variable", sans-serif;
        font-variation-settings: 'YEST'500, 'GRVT'500;
    }

    100% {
        transition: .5s ease;
        font-family: "cheee-variable", sans-serif;
        font-variation-settings: 'YEST'0, 'GRVT'0;
    }

}

h1 {
    width: 100%;
    color: white;
    position: absolute;
    font-size: 6rem;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    margin: auto;
    color: var(--wit);
    font-family: cheee-variable, sans-serif;
    font-variation-settings: "GRVT"400, "YEST"500;


    text-align: center;
}


main {

    &:has(input[value="head1"]:checked) h1 {
        transition: .5s ease;

        font-family: "cheee-variable", sans-serif;
        font-variation-settings: 'YEST'400, 'GRVT'000;
    }

    &:has(input[value="head2"]:checked) h1 {
        transition: .5s ease;
        font-family: "cheee-variable", sans-serif;
        font-variation-settings: 'YEST'200, 'GRVT'200;
    }

    &:has(input[value="head3"]:checked) h1 {
        transition: .5s ease;

        font-family: "cheee-variable", sans-serif;
        font-variation-settings: 'YEST'0, 'GRVT'620;
    }


    h1:hover {
        transition: .5s ease;
        animation: title-hover 4s ease infinite alternate;
        font-family: "cheee-variable", sans-serif;
        font-variation-settings: 'YEST'500, 'GRVT'500;
    }
}

}

@media (max-width: 1024px) {
    h1 {
        font-size: clamp(2rem, 10vw, 6rem);
                /* bottom: 0; */
        top: 5%;
        text-orientation: upright;
    }
}